<div class="pca-footer-container">
	<footer role="contentinfo">
		<div class="container">
			<nav aria-label="footer">
				<div class="col-sm-12">
					<ul class="au-link-list">
						<li>
							<a class="pca-dark-link" href="#">Privacy</a>
						</li>
						<li>|</li>
						<li>
							<a class="pca-dark-link" href="#">Need Help</a>
						</li>
						<li>|</li>
						<li>
							<a class="pca-dark-link" href="#">Accessibility</a>
						</li>
						<li>|</li>
						<li>
							<a class="pca-dark-link" href="#">Disclaimer</a>
						</li>
					</ul>
				</div>
			</nav>

			<div class="footer-bottom">
				<div class="row">
					<div class="col-sm-12">
						<small
							>&copy; Australian Digital Health Agency 2017-2021 v2.0.{{ version }} ({{ created }})</small
						>
					</div>
				</div>
			</div>
		</div>
	</footer>
</div>
